{%  load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'hospital/style.css' %}"/>
        
    </head>
    <body>
        <table style="text-align: center" >
           <tbody>
               <tr>
                    <td><image src="../../static/hospital/images/hospital.png" alt="Logo of the project" height=250 width=400 > </td>
                    <td ><h1> Hospital Management System</h1></td>
                </tr>
            </tbody>
        </table>
        <label class="dropdown">
            <div class="dd-button">
                Patient
            </div>
        
            <input type="checkbox" class="dd-input" id="test">
        
            <ul class="dd-menu">
                <li><a href="/signup/" style="text-decoration: none">SignUp</a></li>
                <li><a href="/login/" style="text-decoration: none">Login</a></li>
            </ul>
        </label>

        <!-- <div class="share">
            <a href="#">Patient</a>
            <div>
                <ul>
                    <li>
                        <a href="/signup/" style="text-decoration: none">SignUp</a>
                    </li>
                    <li>
                        <a href="/login/" style="text-decoration: none">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="share orange">
            <a href="#">Share</a>
            <div>
                <ul>
                    <li>
                        <a href="#">google+</a>
                    </li>
                    <li>
                        <a href="#">facebook</a>
                    </li>
                    <li>
                        <a href="#">twitter</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="share yellow">
            <a href="#">Share</a>
            <div>
                <ul>
                    <li>
                        <a href="#">google+</a>
                    </li>
                    <li>
                        <a href="#">facebook</a>
                    </li>
                    <li>
                        <a href="#">twitter</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="share black">
            <a href="#">Share</a>
            <div>
                <ul>
                    <li>
                        <a href="#">google+</a>
                    </li>
                    <li>
                        <a href="#">facebook</a>
                    </li>
                    <li>
                        <a href="#">twitter</a>
                    </li>
                </ul>
            </div>
        </div>


    </body>    
</html>
 -->